# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# Build outputs
android/app/build/
ios/Pods/
*.apk
*.aab
*.ipa

# Secrets
google-service-account.json
music-studio-app/google-service-account.json